In [1]:
import pandas as pd
import os

In [2]:
pwd=os.getcwd()

In [5]:
df = pd.read_csv(pwd + "/Amazon_Drivers_Rating.csv")
df

,ID,Delivery_person_ID,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Order_Date,Time_Orderd,Time_Order_picked,Weather,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City,Name:
0,0x2318,COIMBRES13DEL01,NaN,NaN,11.003669,76.976494,11.043669,77.016494,30-03-2022,NaN,15:05,NaN,NaN,3,Drinks,electric_scooter,1.0,No,Metropolitian,object
1,0x3474,BANGRES15DEL01,28.0,4.6,12.975377,77.696664,13.085377,77.806664,29-03-2022,20:30,20:35,Windy,Jam,0,Snack,motorcycle,1.0,No,Metropolitian,object
2,0x9420,JAPRES09DEL03,23.0,4.5,26.911378,75.789034,27.001378,75.879034,10-03-2022,19:35,19:45,Stormy,Jam,0,Drinks,motorcycle,1.0,No,Metropolitian,object
3,0x72ee,JAPRES07DEL03,21.0,4.8,26.766536,75.837333,26.856536,75.927333,02-04-2022,17:15,17:20,Fog,Medium,1,Meal,scooter,1.0,No,Metropolitian,object
4,0xa759,CHENRES19DEL01,31.0,4.6,12.986047,80.218114,13.096047,80.328114,27-03-2022,18:25,18:40,Sunny,Medium,2,Drinks,scooter,1.0,No,Metropolitian,object
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11394,0x6909,JAPRES01DEL01,35.0,4.6,26.905190,75.810753,27.015190,75.920753,27-03-2022,21:35,21:45,Sunny,Jam,1,Snack,scooter,1.0,No,Metropolitian,object
11395,0x443b,JAPRES11DEL01,33.0,4.9,26.902940,75.793007,26.912940,75.803007,11-03-2022,11:40,11:45,Sandstorms,High,1,Drinks,scooter,1.0,No,Metropolitian,object
11396,0x1ea5,SURRES11DEL03,NaN,NaN,21.157735,72.768778,21.217735,72.828778,11-03-2022,NaN,21:05,NaN,NaN,3,Drinks,scooter,1.0,No,Metropolitian,object
11397,0x22d4,VADRES03DEL02,27.0,4.7,22.320000,73.170000,22.450000,73.300000,06-03-2022,18:35,18:40,Sandstorms,Medium,0,Meal,motorcycle,0.0,No,Metropolitian,object
11398,0xb7be,CHENRES07DEL02,39.0,5.0,13.081878,80.248519,13.131878,80.298519,24-03-2022,22:20,22:25,Windy,Low,2,Drinks,motorcycle,1.0,No,Urban,object

In [6]:
columns_to_drop = ['Delivery_person_ID', 'Restaurant_latitude', 
                   'Restaurant_longitude', 'Delivery_location_latitude', 'Delivery_location_longitude','Order_Date',
                   'Time_Orderd','Time_Order_picked','Type_of_order','multiple_deliveries','Festival','Name:']
columns_to_drop

['Delivery_person_ID',
 'Restaurant_latitude',
 'Restaurant_longitude',
 'Delivery_location_latitude',
 'Delivery_location_longitude',
 'Order_Date',
 'Time_Orderd',
 'Time_Order_picked',
 'Type_of_order',
 'multiple_deliveries',
 'Festival',
 'Name:']

In [11]:
dataset_modified = df.drop(columns=columns_to_drop)
dataset_modified

,ID,Delivery_person_Age,Delivery_person_Ratings,Weather,Road_traffic_density,Vehicle_condition,Type_of_vehicle,City
0,0x2318,NaN,NaN,NaN,NaN,3,electric_scooter,Metropolitian
1,0x3474,28.0,4.6,Windy,Jam,0,motorcycle,Metropolitian
2,0x9420,23.0,4.5,Stormy,Jam,0,motorcycle,Metropolitian
3,0x72ee,21.0,4.8,Fog,Medium,1,scooter,Metropolitian
4,0xa759,31.0,4.6,Sunny,Medium,2,scooter,Metropolitian
...,...,...,...,...,...,...,...,...
11394,0x6909,35.0,4.6,Sunny,Jam,1,scooter,Metropolitian
11395,0x443b,33.0,4.9,Sandstorms,High,1,scooter,Metropolitian
11396,0x1ea5,NaN,NaN,NaN,NaN,3,scooter,Metropolitian
11397,0x22d4,27.0,4.7,Sandstorms,Medium,0,motorcycle,Metropolitian
11398,0xb7be,39.0,5.0,Windy,Low,2,motorcycle,Urban

In [14]:
dataset_dropna=dataset_modified.dropna()
dataset_dropna

,ID,Delivery_person_Age,Delivery_person_Ratings,Weather,Road_traffic_density,Vehicle_condition,Type_of_vehicle,City
1,0x3474,28.0,4.6,Windy,Jam,0,motorcycle,Metropolitian
2,0x9420,23.0,4.5,Stormy,Jam,0,motorcycle,Metropolitian
3,0x72ee,21.0,4.8,Fog,Medium,1,scooter,Metropolitian
4,0xa759,31.0,4.6,Sunny,Medium,2,scooter,Metropolitian
5,0xc4af,26.0,4.7,Fog,Low,0,motorcycle,Metropolitian
...,...,...,...,...,...,...,...,...
11393,0xe240,31.0,4.7,Windy,Low,2,scooter,Metropolitian
11394,0x6909,35.0,4.6,Sunny,Jam,1,scooter,Metropolitian
11395,0x443b,33.0,4.9,Sandstorms,High,1,scooter,Metropolitian
11397,0x22d4,27.0,4.7,Sandstorms,Medium,0,motorcycle,Metropolitian
11398,0xb7be,39.0,5.0,Windy,Low,2,motorcycle,Urban

In [15]:
dataset_dropna.to_excel(pwd + "/Amazon_Ratings_Clean.xlsx", index=False)